.menubar {
    background-color: white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 5;
}
.menubar .menu-title {
  margin: 0;
  padding: 0;
}
.menubar .title {
  border: 1px solid white;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-size: 0.8em;
  height: 20px;
  line-height: 18px;
  text-align: center;
  width: 54px;
}
.menubar .title:hover {
  background-color: #cce8ff;
  box-sizing: border-box;
  border: 1px solid #99d1ff;
}
.menubar .menus {
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: inline-block;
  font-size: 0.8em;
  margin: 0;
  padding: 2px;
  position: absolute;
  top: 20px;
  width: 202px;
}
.menubar .menu-item {
  display: block;
  height: 22px;
  line-height: 22px;
  margin-left: 2px;
  margin-right: 1px;
  padding-left: 34px;
  position: relative; 
}
.menubar .menu-item:hover {
  background-color: #99d1ff;
  height: 22px;
}
.menubar .shortcut {
  position: absolute;
  right: 20px;
}
.menubar .menu-hr {
  border: 1px solid #d7d7d7;
  display: block;
  height: 0px;
  margin: 4px;
  margin-left: 34px;
}
.checked .menubar{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  line-height: 22px;
  text-align: center;
  background-color: #90c8f6;
}

/* 编辑区 */
.editor{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 20px;
}
.editor textarea{
  border-top: 1px solid #d2d2d2;
  box-sizing: border-box;
  height: 100%;
  outline: 0;
  overflow: scroll;
  padding: 0 1px;
  resize: none;
  width: 100%;
}